* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

header{
    width: 100%;
    height: 8dvh;

    
}

Main{
    width: 100%;
    max-width: 1440px;
    height: calc(100dvh - 8dvh - 8dvh);
}

footer{
    width: 100%;
    max-width: 1440px;
    height: 8dvh;
}