* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 10dvh;

    color: rgb(247, 244, 244);
    background-color: purple;
    font-size: 24px;

    .headerline{
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 24px;
        img{
            width: 32px;
            height: 32px;
        }

        input{
            background-color: whitesmoke;

        }
    }
}

Main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    max-width: 1440px;
    height: calc(100dvh - 10dvh - 8dvh);
    padding: 20px;

    .pokemon-card{
        width: 200px;
        height: 200px;

        border: 1px solid black;
        border-radius: 10px;
        color: white;
        background-color: purple;

        .pokemon-card-header{
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 8px;
            width: 100%;
            height: 20%;
        }

        .pokemon-card-img{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 60%;
        }

        .pokemon-card-type{
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 100%;
            height: 20%;
    }
}
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 8dvh;

    background-color: purple;
    .footerline{
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 24px;
        color: whitesmoke;
        img{
            width: 32px;
            height: 32px;
        }
    }
}